---
import Button from '../components/Button.astro';
import { Image } from 'astro:assets';
import AbonnerLayout from "../layouts/AbonnerLayout.astro";

import mockup from "../assets/images/mockup.png";
---

<AbonnerLayout title="Tak for din bestilling!">
    <article class="px-sm max-w-lg md:max-w-2xl lg:max-w-6xl mx-auto pt-none md:pt-lg justify-end">
        <section class="pb-lg">
            <h1 class="">Tak for din bestilling!</h1>
        <h3 class="md:pl-m">Din pakke er nu på vej til dig</h3> 
        </section>
        <section class="grid grid-cols-1 lg:grid-cols-5">
            <div class="grid justify-end place-items-end col-start-1 col-span-2">
                <Image class="hidden md:block ml-auto" src={mockup} alt="mockup af pakke"/>
            </div>
<div class="grid col-start-3 col-span-3">
        <div class="bg-blue-200 rounded-border_radius-md shadow-dropblue flex-col p-sm md:p-ml">
          <h3 class="pb-s md:pb-none">Din krop og dit behov  ændrer sig, så selvfølgelig skal dit abonnement også kunne det!</h3>
          <h6>Husk at du altid kan logge ind på din profil, og redigere i dit abonnement.</h6>
          <div class="hidden md:flex flex-col items-end justify-between gap-xs mt-m">
            <Button variant="primary" size="large" href="#">
                Min profil
            </Button>
            <Button class="" variant="secondary" size="medium" href="/ompakken">
                Læs mere om pakken
            </Button>
        </div>
        </div>
    </div>
        </section>
        <div class="flex flex-col items-center justify-between gap-xs mt-m md:hidden">
            <Button variant="primary" size="large" href="#">
                Min profil
            </Button>
            <Button class="" variant="secondary" size="medium" href="/ompakken">
                Læs mere om pakken
            </Button>
        </div>
    </article>
  
</AbonnerLayout>