---
import Button from '../components/Button.astro';
import AbonnerLayout from "../layouts/AbonnerLayout.astro";
import AbonnerSteps from "../components/AbonnerSteps.astro";
---

<AbonnerLayout title="Abonnér på Period.">
    <article class="px-sm flex flex-col max-w-lg md:max-w-2xl lg:max-w-6xl mx-auto">
       
        <div class="flex flex-col">
            <AbonnerSteps href="/steptwo"></AbonnerSteps>
           <div class=" flex flex-row items-center">
                <span class="w-full h-[2px] bg-blue-950"></span>
                <span class="w-full h-[2px] bg-blue-950"></span>
                <span class="w-full h-[5px] bg-blue-950"></span>
           </div>
            
        </div>
        <form class="p-6 space-y-6 lg:grid grid-cols-2 lg:gap-xl">
            <section class="order-2">
                <h3 class="mt-s mb-xxs">Leveringsoplysninger</h3>
<div class="md:grid md:grid-cols-2 md:gap-xxs">
                    <div class="space-y-4 pt-xxs">
                        <label for="firstname" class="text-lg text-blue-950">Fornavn</label>
                        <input type="text" id="firstname" name="firstname" placeholder="Fornavn" class="w-full p-[12px] placeholder:text-blue-900 text-blue-950 rounded-border_radius-sm bg-blue-300 border-none focus:ring-blue-500">
                    </div>
                    <div class="space-y-4 pt-xxs">
                        <label for="lastname" class="text-lg text-blue-950">Efternavn</label>
                        <input type="text" id="lastname" name="lastname" placeholder="Efternavn" class="w-full p-[12px] placeholder:text-blue-900 text-blue-950 rounded-border_radius-sm bg-blue-300 border-none focus:ring-blue-500">
                    </div>
                    <div class="space-y-4 pt-xxs">
                        <label for="email" class="text-lg text-blue-950">Email</label>
                        <input type="email" id="email" name="email" placeholder="Email" class="w-full p-[12px] placeholder:text-blue-900 text-blue-950 rounded-border_radius-sm bg-blue-300 border-none focus:ring-blue-500">
                    </div>
                    <div class="space-y-4 pt-xxs">
                        <label for="mobile" class="text-lg text-blue-950">Mobil</label>
                        <input type="tel" id="mobile" name="mobile" placeholder="Mobil" class="w-full p-[12px] placeholder:text-blue-900 text-blue-950 rounded-border_radius-sm bg-blue-300 border-none focus:ring-blue-500">
                    </div>
                    <div class="space-y-4 pt-xxs">
                        <label for="address" class="text-lg text-blue-950">Adresse</label>
                        <input type="text" id="address" name="address" placeholder="Adresse" class="w-full p-[12px] placeholder:text-blue-900 text-blue-950 rounded-border_radius-sm bg-blue-300 border-none focus:ring-blue-500">
                    </div>
                    <div class="flex space-x-4 pt-xxs gap-xxs">
                        <div class="w-1/2 space-y-4">
                            <label for="number" class="text-lg text-blue-950">Nr.</label>
                            <input type="text" id="number" name="number" placeholder="Nr." class="w-full p-[12px] placeholder:text-blue-900 text-blue-950 rounded-border_radius-sm bg-blue-300 border-none focus:ring-blue-500">
                        </div>
                        <div class="w-1/2 space-y-4">
                            <label for="postalcode" class="text-lg text-blue-950">Postnr.</label>
                            <input type="text" id="postalcode" name="postalcode" placeholder="Postnr." class="w-full p-[12px] placeholder:text-blue-900 text-blue-950 rounded-border_radius-sm bg-blue-300 border-none focus:ring-blue-500">
                        </div>
                    </div>
                    <div class="space-y-4 pt-xxs">
                        <label for="country" class="text-lg text-blue-950">Land</label>
                        <input type="text" id="country" name="country" placeholder="Land" class="w-full p-[12px] placeholder:text-blue-900 text-blue-950 rounded-border_radius-sm bg-blue-300 border-none focus:ring-blue-500">
                    </div>
</div>
            </section>
        
            <section class="order-1 mt-m" >
                <h4 class="">Ny bruger</h2>
                <div class="w-full h-[2px] bg-blue-950"></div>
                <div class="space-y-4 pt-xxs">
                    <label for="username" class="text-lg text-blue-950">Brugernavn</label>
                    <input type="text" id="username" name="username" placeholder="Brugernavn" class="w-full p-[12px] placeholder:text-blue-900 text-blue-950 rounded-border_radius-sm bg-blue-300 border-none focus:ring-blue-500">
                </div>
                <div class="space-y-4 pt-xxs">
                    <label for="password" class="text-lg text-blue-950">Adgangskode</label>
                    <input type="password" id="password" name="password" placeholder="Adgangskode" class="w-full p-[12px] placeholder:text-blue-900 text-blue-950 rounded-border_radius-sm bg-blue-300 border-none focus:ring-blue-500">
                </div>
                <div class="space-y-4 pt-xxs">
                    <label for="confirm-password" class="text-lg text-blue-950">Gentag adgangskode</label>
                    <input type="password" id="confirm-password" name="confirm-password" placeholder="Gentag adgangskode" class="w-full p-[12px] placeholder:text-blue-900 text-blue-950 rounded-border_radius-sm bg-blue-300 border-none focus:ring-blue-500">
                </div>
            </section>
        </form>
    <section class="flex flex-col items-center md:items-end justify-between md:flex-row gap-xs mt-m">
        <Button variant="secondary" size="medium" href="/steptwo">
            Tilbage
        </Button>
        <Button type="submit" variant="primary" size="large" href="/laststep">
            Til betaling
        </Button>
    </section>
    </article>
   
</AbonnerLayout>
