---
// Henter parametrene fra Astro.props
const { href="#"} = Astro.props; 
---

<nav class="text-blue-950 mb-xs">
    <ol class="md:hidden flex flex-row justify-center gap-xl font-bold text-smallMobile">
        <li><a href={href}>1.</a></li>
        <li><a href={href}>2.</a></li>
        <li><a href="#">3.</a></li>
    </ol>
    <ol class="hidden md:flex flex-row justify-center md:gap-xl lg:gap-6xl">
        <li><a href={href}>1. Vælg dit behov</a></li>
        <li><a href={href}>2. Planlæg dit abonnement</a></li>
        <li><a href="#">3. Privat levering</a></li>
    </ol>
</nav>