---
const {variant="primary", size="medium", href="#"} = Astro.props;

const buttonStyling = "font-sansita border-blue-700 rounded-border_radius-3xl border-md tracking-wide font-bold transition ease-in-out delay-100"; 

const variantClasses = {
"textlink": "underline",

"primary": " border-red-500 bg-red-50 text-red-500 shadow-dropred hover:shadow-innerred",

"secondary": "border-blue-700 bg-blue-50 text-blue-700 hover:text-gray-200 hover:border-blue-700 shadow-dropblue hover:shadow-innerblue",

};

const sizeClasses = {

"large": "text-smallMediumDesk py-xs px-lg",

"medium": "text-smallDesk py-xxs px-lg",

"small": "text-bodyDesk py-[5px] px-s",

};
---
<a href={href}>
    <button class:list={[buttonStyling, variantClasses[variant], sizeClasses[size]]}><slot /></button>
</a>


