---
import SmallLogo from "./SmallLogo.astro"
import Button from "./Button.astro"
import Link from "./Link.astro";
import Wave from "./Wave.astro"
import { Image } from 'astro:assets';
import period from "../assets/images/Period.svg";
---

<div x-data="{ showmenu: false }" class="">
    <section id="navbar" class="relative bg-gray-800">
        <div class="overflow-clip w-auto"><Wave></Wave></div>
        <a href="/">
            <Image class="w-4xl absolute top-m left-sm hidden md:block" src={period} alt="Logo"/>
        </a>   
        <a href="/" class="md:hidden  block top-xs left-s absolute z-10 p-4 w-ml">
            <SmallLogo/>
        </a>
         <nav id="desktopmenu" class="hidden lg:absolute top-ml lg:flex flex-row items-center gap-s right-s p-4 z-10 text-red-700">
            <Link href="/ompakken">Om pakken</Link>
            <Link href="/omos">Om os</Link>
            <Button variant="primary" size="small" href="/abonner">Abonnér</Button>
            <Button variant="secondary" size="small">Min profil</Button>
        </nav>
        
        <button id="burgermenu" class="absolute top-s right-s lg:hidden z-50 w-m h-h" x-on:click="showmenu = !showmenu">
            <svg
                x-show="!showmenu"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="#E7232D"
                class="w-8 h-8 transition-transform duration-300 ease-in-out">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3 6h18M3 12h18m-18 6h18" />
            </svg>
            <svg
                x-show="showmenu"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="#E7232D"
                class="w-8 h-8 transition-transform duration-300 ease-in-out">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
        </button>
    </section>  
    <nav id="mobilmenu" class="flex flex-col content-center relative" 
    x-show="showmenu" x-transition x-on:click="showmenu = false" x-on:click.outside="showmenu = false">
        <!-- <div class="fill-red-700 absolute -top-36 md:-right-4 w-screen h-40 -right-3 -z-10 transition">
        </div> -->
        <div class="rotate-180 overflow-clip w-auto"><Wave></Wave></div>
            <ul class="bg-red-50/60 gap-s flex flex-col text-red-600">
                <li class="text-center"><a href="/ompakken" class="transition"><h6>Om pakken</h6></a></li>
                <li class="text-center"><a href="/omos" class="transition"><h6>Om os</h6></a></li>            
            <div class="flex flex-col items-center gap-s">
                <Button variant="primary" size="small" href="/abonner">Abonnér</Button>
                <Button variant="secondary" size="small">Min profil</Button>
            </div>
        </ul>
        <div class="-z-10 overflow-clip w-auto"><Wave></Wave></div>
    </nav>

</div>

<div class="pt-lg lg:pt-xxs">
</div>