<div class="w-screen overflow-clip relative">
    <svg 
        id="wave" 
        class="w-screen h-4xl" 
        data-name="Layer 1" 
        xmlns="http://www.w3.org/2000/svg" 
        viewBox="0 0 3355.96 500" 
        preserveAspectRatio="none">
        <defs>
            <style>
                .fill_wave {
                    fill: #FEF6F6;
                    opacity: 0.6;
                }
            </style>
        </defs>
        <path class="fill_wave" d="M3355.96,440.38c-621.47,91.73-979.22,62.71-1195.62,12.16-91.46-21.36-236.4-64.96-435.8-45.56-206.33,20.08-239.73,85.1-427.34,77.45-161.4-6.59-195.21-57.1-380.8-59.23-126.08-1.45-200.96,20.83-287.71,36.45-143.39,25.81-352.14,39.35-628.68-21.27V0h3355.96v440.38Z" />
    </svg>
</div>
